html,
body {
  overflow-x: hidden;
}
.carousel {
  background: rgb(254, 234, 233);
}
.carousel .price {
  color: rgb(255, 48, 128);
}
.custom-btn {
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  color: white;
}
.custom-btn:hover {
  color: rgb(255, 48, 128);
  border: rgb(255, 48, 128) solid 1px;
  background: #fff;
  transition: 0.3s ease-in-out;
}
.categories .col-lg-4:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}
.card:hover {
  background: rgba(215, 204, 204, 0.708);
  transition: 0.3s ease-out;
}
.card:hover .card-img-top {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.subscription {
  background-color: #fceae8;
  height: 400px;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgb(227, 186, 193);
  border-color: rgb(246, 179, 190);
}
.form-control:hover {
  border-color: rgb(246, 179, 190);
}
@media screen and (max-width: 576px) {
  .carousel {
    height: 400px;
  }
}
